.skills_block {
    display: inline-block;
    color: #fdfd01;
    /*background-color: #36342d;*/
    background: repeating-linear-gradient(60deg, #3a3730, #3a3730 2px, #36342d 2px, #36342d 6px);
    height: 98vh;
    width: 49%;
    font-size: 20px;
    padding: 20px;
    position: relative;
    vertical-align: middle;

}

.skills_content {
    margin-top: 30px;
    color: white;
    text-align: left;
    margin-left: 10px;
    /*word-wrap: break-word;*/
}
