<style type="text/css">
    input[type=radio] {
      display: none;
    }

    .card_goals_bot {
      position: absolute;
      width: 60%;
      height: 100%;
      left: 0;
      right: 0;
      margin-left: 12%;
      transition: transform .4s ease;
      cursor: pointer;
    }

    .project_img_container_goals_bot {
      width: 100%;
      height: 300px;
    }

    .cards_goals_bot {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .card_goals_bot img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    #item-1_goals_bot:checked ~ .cards_goals_bot #song-3_goals_bot, #item-2_goals_bot:checked ~ .cards_goals_bot #song-1_goals_bot, #item-3_goals_bot:checked ~ .cards_goals_bot #song-2_goals_bot
    {
      transform: translatex(-30%) scale(.8);
      opacity: .4;
      z-index: 0;
    }

    #item-1_goals_bot:checked ~ .cards_goals_bot #song-2_goals_bot, #item-2_goals_bot:checked ~ .cards_goals_bot #song-3_goals_bot, #item-3_goals_bot:checked ~ .cards_goals_bot #song-1_goals_bot {
      transform: translatex(30%) scale(.8);
      opacity: .4;
      z-index: 0;
    }

    #item-1_goals_bot:checked ~ .cards_goals_bot #song-1_goals_bot, #item-2_goals_bot:checked ~ .cards_goals_bot #song-2_goals_bot, #item-3_goals_bot:checked ~ .cards_goals_bot #song-3_goals_bot {
      transform: translatex(0) scale(1);
      opacity: 1;
      z-index: 1;
    }
</style>

<div class="project_img_container_goals_bot">
    <input type="radio" name="slider1_goals_bot" id="item-1_goals_bot" checked>
    <input type="radio" name="slider1_goals_bot" id="item-2_goals_bot">
    <input type="radio" name="slider1_goals_bot" id="item-3_goals_bot">

    <div class="cards_goals_bot">
        <label class="card_goals_bot" for="item-1_goals_bot" id="song-1_goals_bot">
            <img src="/media/pk_bot/goals_bot1.png">
        </label>
        <label class="card_goals_bot" for="item-2_goals_bot" id="song-2_goals_bot">
            <img src="/media/pk_bot/goals_bot2.png">
        </label>
        <label class="card_goals_bot" for="item-3_goals_bot" id="song-3_goals_bot">
            <img src="/media/pk_bot/goals_bot3.png">
        </label>
    </div>
</div>
