{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    {% trans 'Опыт' %}
{% endblock %}


{% block content %}
    <a class="return" href="{% url 'main_page' %}">
        <div class="arrow-6">
            <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                </g>
            </svg>
        </div>
    </a>

    <div class="experience_block">
        Опыт и информация обо мне<br><br>
        <div class="experience">
            <br><br>
            <ul>
                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            август<br>2015
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Мне 17 лет, заканчиваю школу с тремя четвёрками,
                        любимые предметы математика, физкультура и английский.<br>
                        Поступаю на бакалавриат в ДВФУ (Дальневосточный Федеральный Университет) во Владивостоке
                        по направлению "Менеджмент: <span style="color: #fdfd01;">"Управление проектами"</span>
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            август<br>2019
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        4 года прошли быстро, мне 21 год, заканчиваю бакалавриат, средняя оценка по диплому 4.75.<br>
                        Но всё-таки работать в команде над проектами мне понравилось.<br>
                        Думаю что в будущем буду реализовываться как проектный менеджер.<br>
                        Поступаю в магистратуру по специальности "Предпринимательство и управление бизнесом"
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            октябрь<br>2020
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Практика в "Сервисном Центре FESCO" на позиции стажер-<span style="color: #fdfd01;">системный аналитик.</span><br>
                        Углубляюсь в операционную деятельность компании.
                        Понимаю что мне нравится улучшать и автоматизировать процессы.<br><br>
                        Обязанности:<br>
                        <span style="color: #fdfd01;">
                            - Проведение интервью с руководителями отделов, анализ собранной информации<br>
                            - Работа с проектными инструментами, координация проектной группы<br>
                            - Разработка структуры и содержания платформы для стажировок, создание макета платформы<br>
                            - Написание технического задания для IT-специалистов<br>
                        </span>
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            ноябрь<br>2020
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        На работе вижу рекламу Skillbox.
                        Это триггерит мои сомнения за 5 с половиной лет, что я занимаюсь не тем.<br>
                        Поступаю на годичный курс <span style="color: #fdfd01;">"Python-разработчик"</span> и сразу откладываю это несколько месяцев.<br><br>
                        Сразу скажу спустя 2 года обучения с большими перерывами:
                        <span style="color: #fdfd01;">курсы это не плохо, тем более для человека, который никогда не имел дела с программированием.<br>
                            Курс даёт хорошую структуру (при самостоятельном изучении ты можешь потратить недели только на определение целей, которые могу привести тебя не туда).
                            С этой структурой даётся база, основа, на которую ты уже сам, в зависимости от целей и упорства, наращиваешь знания и опыт.
                            Так что я благодарен больше не за знания (хотя они достаточно хорошие для необходимых основ), а за расчистку тернистого пути, с которого легко можно сбиться в одиночку.
                        </span>
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            февраль<br>2021
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Наконец начинаю отложенную учёбу программированию и сразу же понимаю, что это абсолютно моё.<br>
                        Меня заинтересовала Backend разработка, потому что есть возможность экспериментировать,
                        создавать интересные, функциональные веб-приложения.
                        Мне нравится узнавать новое, видеть как идеи воплощаются в реальный продукт,
                        понимать, как работают алгоритмы и структуры данных. Вдохновляет то,
                        что любые задачи можно решить несколькими путями, это даёт ощущение, что ты своего рода художник, пишущий свою картину.
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            июнь<br>2021
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Защищаю диплом менеджмента на отлично.<br>
                        В ходе обучения я получил следующие знания, которые пригодятся в будущей работе и развитии:<br>
                        <span style="color: #fdfd01;">
                            - работа в команде<br>
                            - изучение жизненного цикла разработки ПО<br>
                            - взаимодействие с заказчиком по сбору требований<br>
                            - презентация промежуточных и итоговых результатов проектов
                        </span>
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            август<br>2021
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Переезд в Санкт-Петербург.
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            декабрь<br>2021
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Стажировка нагрузочным тестировщиком в PerfomanceLab.<br>
                        Приобрёл следующие навыки:<br>
                        <span style="color: #fdfd01;">
                            - основыJava<br>
                            -написание заглушек<br>
                            -тестирование сайтов с помощью Jmeter и LoadRunner
                        </span><br>
                        Понял что нагрузочное тестирование точно не моё.
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            Июль<br>2022
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Посмотрел курс Яндекса по алгоритмам. Начал решать задачи для себя и делать портфолио.<br>
                    </div>
                    <br><br>
                </li>

                <li>
                    <div class="exp_pointer">
                        <div class="exp_content_date">
                            октябрь<br>2022
                        </div>
                        <div class="arrow-8"></div>
                    </div>
                    <div class="exp_text">
                        Спустя 2 с половиной года от начала обучения (чистого обучения около года), десятки задач, тестовых заданий, проектов и нескольких собеседований - я здесь. <br>
                        Хочу начать профессионально развиваться, приносить пользу внутри компании, решать прикладные задачи, и развиваться вместе с вами.<br>
                        Умею:<br>
                        <span style="color: #fdfd01;">
                            - Писать код на Python<br>
                            - ООП<br>
                            - Писать алгоритмы для решения задач<br>
                            - Работать с SQL базами данных<br>
                            - Использовать промышленные средства разработки: Git, Docker, PyCharm<br>
                            - Писать приложения на Django + DRF, FastAPI<br>
                            - Писать запросы к базам данных на Python с помощью Django-ORM<br>
                            - Взаимодействовать с различными API, используя GET и POST запросы<br>
                            - Подключать и работать с дополнительными библиотеками<br>
                            - Соблюдать кодстайл, писать понятный и легкий для прочтения код<br>
                            - Читать документацию на английском языке<br>

                            Мои основные инструменты: PyCharm, Python, Django, Docker, HTML5, CSS3<br><br>
                        </span>

                        Если вы дочитали до этого момента, то пишите на почту <span style="color: #fdfd01;">alexmdream@gmail.com</span> или в телеграмм <span style="color: #fdfd01;">@Dreamis</span><br>
                        И переходите к следующим разделам "навыки" и "проекты"
                    </div>
                    <br><br>
                </li>

            </ul>
        </div>

        <div class="experience" id="about_me">
            <div><img class="about_me_img" src="/media/WhatsApp%20Image%202017-05-20%20at%2023.47.04.png"></div>
            <img class="about_arrow" src="/media/up-arrow.png">Это я<br><br>

            Меня зовут <span style="color: #fdfd01;">Мокрицкий Александр</span><br>
            мне 24 года, живу в Санкт-Петербурге.
        </div>

    </div>

{% endblock %}
