{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block title %}
    {% trans 'Проекты' %}
{% endblock %}


{% block content %}
    <a class="return" href="{% url 'main_page' %}">
        <div class="arrow-6">
            <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                    <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                    <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                    <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                </g>
            </svg>
        </div>
    </a>
    <div class="projects_block">
        Примеры работ
        <div class="projects">
            <details open class="project_one">
                <summary class="project_title">Сайты</summary>
                <div class="project_content" style="border-bottom: 2px solid #424242;">
                    <div class="p_img">
                        <b>Блог с функцией "симуляции жизни"</b>
                        <br><br>
                        {% include 'img_carousels/img_carousel_blog.html' %}
                    </div>
                    <div class="p_desc">
                        <span style="color: #fdfd01">Описание</span>
                        <br><br>
                        Блог, реализованный на Django.<br>
                        Публикация постов, редактирование профиля, оставление комментариев,
                        подписки, лайки, сохранения, загрузка изображений.<br>
                        Включает в себя функцию "симуляции жизни",
                        в данный момент реализованную через взаимодействие с YouTubeAPI.
                    </div>
                    <div class="p_other">
                        <span style="color: #fdfd01">Технологии</span><br><br>
                        <ul>
                            <li>Django</li>
                            <li>Django Rest Framework</li>
                            <li>PostgreSQL</li>
                            <li>Docker, Docker compose</li>
                            <li>command for manage.py</li>
                            <li>Swagger</li>
                            <li>Unit tests</li>
                            <li>API requests</li>
                        </ul>
                        <br>Позже:
                        <ul>
                            <li>переделать unit тесты</li>
                            <li>Добавить чат на Redis channels</li>
                        </ul>
                        <br>
                        <a href="https://github.com/AwesomeDreamis/ai_blog"><img class="contacts_img" src="{% static 'contacts/github1.png' %}">ai_blog</a>
                    </div>
                </div>

                <div class="project_content" >
                    <div class="p_img">
                        <b>Сайт-копилка с возможностью создавать совместные цели</b>
                        <br><br>
                        {% include 'img_carousels/img_carousel_goals.html' %}
                    </div>
                    <div class="p_desc">
                        <span style="color: #fdfd01">Описание</span>
                        <br><br>
                        Сайт на Django для создания индивидуальных или совместных целей с друзьями,
                        отслеживания прогресса по накоплениям.<br>
                        Редактирование профиля, создание целей,
                        добавление друзей, пополнение целей через телеграм бота.
                    </div>
                    <div class="p_other">
                        <span style="color: #fdfd01">Технологии</span><br><br>
                        <ul>
                            <li>Django</li>
                            <li>SQLite</li>
                            <li>command for manage.py</li>
                            <li>Swagger</li>
                        </ul>
                        <br>Позже:
                        <ul>
                            <li>DRF</li>
                            <li>Docker</li>
                            <li>PostgreSQL</li>
                            <li>Unit tests</li>
                        </ul>
                        <br>
                        <a href="https://github.com/AwesomeDreamis/purposes_keeper"><img class="contacts_img" src="{% static 'contacts/github1.png' %}">purposes_keeper</a>
                    </div>
                </div>
            </details>

            <details open class="project_one">
                <summary class="project_title">Боты</summary>
                <div class="project_content" style="border-bottom: 2px solid #424242;">
                    <div class="p_img">
                        <b>Телеграмм-бот для сайта-копилки</b>
                        <br><br>
                        {% include 'img_carousels/img_carousel_goals_bot.html' %}
                    </div>
                    <div class="p_desc">
                        <span style="color: #fdfd01">Описание</span>
                        <br><br>
                        Телеграмм-бот для сайта-копилки.
                        Кнопки, машина состояний,
                    </div>
                    <div class="p_other">
                        <span style="color: #fdfd01">Технологии</span><br><br>
                        <ul>
                            <li>aiogram</li>
                        </ul>
                        <br>Позже:
                        <ul>
                            <li>Автономизация бота</li>
                            <li>Взаимодействие с сайтом через api</li>
                            <li>Unit tests</li>
                        </ul>
                        <br>
                        <a href="https://github.com/AwesomeDreamis/purposes_keeper/blob/main/app_main/management/commands/run_bot.py"><img class="contacts_img" src="{% static 'contacts/github1.png' %}">purposeskeeper_bot</a>
                    </div>
                </div>

                <div class="project_content" style="border-bottom: 2px solid #424242;">
                    <div class="p_img">
                        <b>Чат-бот VK для кондитерской витрины</b>
                        <br><br>
                        {% include 'img_carousels/img_carousel_vk_bot.html' %}
                    </div>
                    <div class="p_desc">
                        <span style="color: #fdfd01">Описание</span>
                        <br><br>
                        Чат-бот VK для кондитерской витрины.<br>
                        Кнопки, разделы, картинки.
                    </div>
                    <div class="p_other">
                        <span style="color: #fdfd01">Технологии</span><br><br>
                        <ul>
                            <li>VkApi</li>
                            <li>SQLite</li>
                        </ul>
                        <br>
                        <a href="https://github.com/AwesomeDreamis/VK_bakery_bot"><img class="contacts_img" src="{% static 'contacts/github1.png' %}">Vk_bakery_bot</a>
                    </div>
                </div>

                <div class="project_content">
                    <div class="p_img">
                        <b>Телеграм-бот для получения предложений о работе</b>
                        <br><br>
                        {% include 'img_carousels/img_carousel_job_bot.html' %}
                    </div>
                    <div class="p_desc">
                        <span style="color: #fdfd01">Описание</span>
                        <br><br>
                        Телеграм-бот для вашей регистрации как работодателя в моей базе данных
                        и отправления мне информации о вакансии.
                        Уведомление о регистрации приходит мне в чат.<br>
                        Только текстовые команды.
                    </div>
                    <div class="p_other">
                        <span style="color: #fdfd01">Технологии</span><br><br>
                        <ul>
                            <li>Django</li>
                            <li>manage.py commands</li>
                            <li>aiogram</li>
                            <li>SQLite</li>
                        </ul>
                        <br>
                        <a href="https://github.com/AwesomeDreamis/MyOffersBot"><img class="contacts_img" src="{% static 'contacts/github1.png' %}">MyOffersBot</a>
                    </div>
                </div>
            </details>

            <details open class="project_one">
                <summary class="project_title">Другое</summary>
                <div class="project_content" >
                    <div class="p_img">
                        <b>Проверка анаграммы</b>
                        <br><br>
                        {% include 'img_carousels/img_carousel_anagram.html' %}
                    </div>
                    <div class="p_desc">
                        <span style="color: #fdfd01">Описание</span>
                        <br><br>
                        Приложение для проверки пары слов на то,
                        являются ли они анаграммами друг друга.
                    </div>
                    <div class="p_other">
                        <span style="color: #fdfd01">Технологии</span><br><br>
                        <ul>
                            <li>FastAPI</li>
                            <li>Redis</li>
                            <li>PostgreSQL</li>
                        </ul>
                        <br>
                        <a href="https://github.com/AwesomeDreamis/Check_for_anagram"><img class="contacts_img" src="{% static 'contacts/github1.png' %}">Check_for_anagram</a>
                    </div>
                </div>
            </details>


        </div>

    </div>

{% endblock %}
